<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="toolbar-container">
  <div class="toolbar">
    <div class="logo">
      <a href="/index">
        <img src="/img/site-icon.ico">
      </a>
    </div>
    <nav class="site-menu">
      <ul class="toolbar-links">
        <li><a href="/create-task">Create task</a></li>
        <li><a href="/update-task">Update task</a></li>
        <li><a href="/show-tasks">Show tasks</a></li>
      </ul>
    </nav>
  </div>
</div>
<h1>Create task page</h1>
<form method="post" action="/add-task">
  <input type="text" name="name" placeholder="Enter name">
  <textarea name="description" placeholder="Enter description"></textarea>
<!--  <input type="text" name="status" placeholder="Enter status">-->
  <select name="status">
      <option value="" disabled selected>Choose status</option>
      <option value="TODO">To do</option>
      <option value="IN_PROGRESS">In progress</option>
      <option value="COMPLETE">Complete</option>
      <option value="PAUSE">Pause</option>
  </select>
  <input type="datetime-local" name="dueDate" placeholder="Enter due date"/>
  <select name="priority">
    <option value="" disabled selected>Choose priority</option>
    <option value="NORMAL">Normal</option>
    <option value="HIGH">High</option>
    <option value="LOW">Low</option>
    <option value="PAUSE">Pause</option>
  </select>
  <input type="submit" value="Create task">
</form>
</body>
</html>