<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Time management</a></li>
                <li><a href="/create-task" class="nav-link px-2 text-white">Create task</a></li>
                <li><a href="/show-tasks/page/1" class="nav-link px-2 text-white">Task list</a></li>
                <li>
                    <form method="post" action="/add-task">
                        <div>
                            <input required type="text" name="name" class="form-control form-control-dark"
                                   placeholder="Quick create task..." style="margin-left: 15px">
                        </div>
                    </form>
                </li>
            </ul>

            <form method="get" th:action="@{/show-tasks/page/1}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="text" name="searchBy" class="form-control form-control-dark" placeholder="Search..."
                       aria-label="Search">
            </form>

        </div>
    </div>
</header>
<div class="container">
    <div class="col-md-8 order-md-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/show-tasks/page/1}">Back to task list</a></li>
                <li class="breadcrumb-item active" aria-current="page">create task</li>
            </ol>
        </nav>
        <form th:object="${task}" method="post" action="/add-task" class="needs-validation" novalidate>
            <div class="col-md-5 mb-3">
                <label for="taskName">Task name</label>
                <input type="text" name="name" id="taskName" class="form-control" placeholder="Task..." required>
                <div class="invalid-feedback">
                    Please enter task name.
                </div>
            </div>
            <div class="col-md-5 mb-3">
                <label>Description<span class="text-muted">(Optional)</span></label>
                <textarea name="description" class="form-control" placeholder="Description.."
                          style="height:150px"></textarea>
            </div>

            <div class="col-md-5 mb-3">
                <label>Priority</label>
                <select class="form-select" name="priority" th:field="*{priority}">
                    <option value="NORMAL">Normal</option>
                    <option value="HIGH">High</option>
                    <option value="LOW">Low</option>
                    <option value="PAUSE">Pause</option>
                </select>
            </div>

            <div class="col-md-5 mb-3">
                <label>Due date</label>
                <input type="datetime-local" name="dueDate" th:field="*{dueDate}"/>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<script src="js/form-validation.js"></script>
</body>
</html>