<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="toolbar-container">
  <div class="toolbar">
    <div class="logo">
      <a href="/index.html">
        <img src="/img/site-icon.ico">
      </a>
    </div>
    <nav class="site-menu">
      <ul class="toolbar-links">
        <li><a href="/create-task">Create task</a></li>
        <li><a href="/update-task">Update task</a></li>
        <li><a href="/find-task">Find task by id</a></li>
        <li><a href="/show-tasks">Show tasks</a></li>
        <li><a href="/delete-task">Delete task</a></li>
      </ul>
    </nav>
  </div>
</div>
<h1>Create task page</h1>
<form method="post" action="/add-task">
  <input type="text" name="name" placeholder="Enter name">
  <textarea name="description" placeholder="Enter description"></textarea>
  <input type="text" name="status" placeholder="Enter status">
  <input type="datetime-local" name="dueDate" placeholder="Enter due date"/>
  <input type="text" name="priority" placeholder="Enter priority">
  <input type="submit" value="Create task">
</form>
</body>
</html>