<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Timemanagement</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
<div class="toolbar-container">
  <div class="toolbar">
    <div class="logo">
      <a href="index">
        <img src="img/site-icon.ico">
      </a>
    </div>
    <nav class="site-menu">
      <ul class="toolbar-links">
        <li><a href="/create-task">Create task</a></li>
        <li><a href="/show-tasks/page/1">Show tasks</a></li>
        <li class="search-li-element"><a class="search-tag-link" href=""><img class="search-button" src="/img/search-white.png"></a></li>
        <li>
          <form method="get" th:action="@{/show-tasks}">
            <input type="text" class="search-string" name="search" placeholder="Search...">
          </form>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="main-page">
  <h1>This page show last five task sorting with due date</h1>
  <table class="table-list">
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Status</th>
      <th>Due date</th>
      <th>Priority</th>
    </tr>
    <tr th:each="task : ${lastFive}">
      <td th:text="${task.name}">q</td>
      <td th:text="${task.created}">e</td>
      <td th:text="${task.status}">r</td>
      <td th:text="${task.dueDate}">t </td>
      <td th:text="${task.priority}">y</td>
    </tr>
    <tr th:if="${#lists.isEmpty(lastFive)}">
      <td>Nothing found</td>
    </tr>
  </table>
</div>
</body>
</html>