<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("td.status").click(function () {
                var point = $(this).text();
                var taskId = $(this).parent().get(0).id;
                console.log(taskId);
                if (point == "TODO") {
                    $.ajax({
                        type: "POST",
                        url: "/show-tasks/task/update/" + taskId,
                        contentType: "application/json",
                        data: "IN_PROGRESS",
                        dataType: "json",
                        success: function (data, status) {
                            console.log("Good: " + status);
                            $(this).text(data.status);
                        }
                    });
                } else if (point == "IN_PROGRESS") {
                    $.ajax({
                        type: "POST",
                        url: "/show-tasks/task/update/" + taskId,
                        contentType: "application/json",
                        data: "COMPLETE",
                        dataType: "json",
                        success: function (data, status) {
                            console.log("Good: " + status);
                            $(this).text(data.status);
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/show-tasks/task/update/" + taskId,
                        contentType: "application/json",
                        data: "TODO",
                        dataType: "json",
                        success: function (data, status) {
                            console.log("Good: " + status);
                            $(this).text(data.status);
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Time management</a></li>
                <li><a href="/create-task" class="nav-link px-2 text-white">Create task</a></li>
                <li><a href="/show-tasks/page/1" class="nav-link px-2 text-white">Task list</a></li>
                <li>
                    <form method="post" action="/add-task">
                        <div>
                            <input required type="text" name="name" class="form-control form-control-dark"
                                   placeholder="Quick create task..." style="margin-left: 15px"
                                   oninput="noFirstSpace(this)">
                        </div>
                    </form>
                </li>
            </ul>
            <form method="get" th:action="@{/show-tasks/page/1}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="text" name="searchBy" class="form-control form-control-dark" placeholder="Search..."
                       aria-label="Search">
            </form>

        </div>
    </div>
</header>
<div class="container">
    <div class="dropdown sortBy">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Sort by
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" th:href="@{${pagination.getIndex()}}">Name</a>
            <a class="dropdown-item" th:href="@{${pagination.getIndex()} + '?sortBy=status'}">Status</a>
            <a class="dropdown-item" th:href="@{${pagination.getIndex()} + '?sortBy=due_date'}">Due date</a>
            <a class="dropdown-item" th:href="@{${pagination.getIndex()} + '?sortBy=priority'}">Priority</a>
        </ul>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Progress</th>
            <th scope="col">Due date</th>
            <th scope="col">Priority</th>
            <th scope="col">Projects</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:id="${task.id}" th:each="task : ${service}">
            <td><a th:href="@{/task/{taskId}(taskId=${task.id})}" th:text="${task.name}">Task name</a></td>
            <td class="status" th:text="${task.status}">Task status</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" th:attr="aria-valuenow=${task.progress}"
                         th:style="'width:'+ ${task.progress} +'%'"
                         aria-valuemin="0" aria-valuemax="100" th:text="${task.progress} +'%'"></div>
                </div>
            </td>
            <td th:text="${task.dueDate}">Task due date</td>
            <td><span class="badge" th:text="${task.priority}">task priority</span></td>
            <td th:if="${task.projectName != null}" th:text="${task.projectName.name}">Projects</td>
            <td th:if="${task.projectName == null}"></td>
            <td><a th:href="@{/delete-task/{taskId}(taskId=${task.id})}"
                   onclick="return confirm('Are you sure you want to delete this task')">Delete</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(service)}">
            <td>Nothing found</td>
        </tr>
        </tbody>
    </table>

    <div th:if="${pagination.getPage()> 1}">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${pagination.getIndex() != 1}" class="page-item">
                    <a class="page-link"
                       th:href="@{${pagination.getIndex() - 1}(sortBy=${sortSearch.sortBy},searchBy=${sortSearch.searchBy})} ">
                        Previous
                    </a>
                </li>
                <li th:if="${pagination.getIndex() == 1}" class="page-item disabled">
                    <a class="page-link"
                       th:href="@{${pagination.getIndex() - 1}(sortBy=${sortSearch.sortBy},searchBy=${sortSearch.searchBy})} ">
                        Previous
                    </a>
                </li>
                <li th:each="pageNumber: ${#numbers.sequence(1, pagination.getPage())}"
                    class="page-item">
                    <a class="page-link"
                       th:href="@{${pageNumber}(sortBy=${sortSearch.sortBy},searchBy=${sortSearch.searchBy})}">
                        [[${pageNumber}]]
                    </a>
                </li>
                <li th:if="${pagination.getIndex() < pagination.getPage()}" class="page-item">
                    <a class="page-link"
                       th:href="@{${pagination.getIndex() + 1}(sortBy=${sortSearch.sortBy},searchBy=${sortSearch.searchBy})} ">
                        Next
                    </a>
                </li>
                <li th:if="${pagination.getIndex() == pagination.getPage()}" class="page-item disabled">
                    <a class="page-link"
                       th:href="@{${pagination.getIndex() + 1}(sortBy=${sortSearch.sortBy},searchBy=${sortSearch.searchBy})} ">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    function noFirstSpace(input) {
        if (/^\s/.test(input.value))
            input.value = ''
    }
</script>
<script src="/js/priority-badge.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>