<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/task.css">
</head>
<body>
<div class="toolbar-container">
    <div class="toolbar">
        <div class="logo">
            <a href="/index">
                <img src="/img/site-icon.ico">
            </a>
        </div>
        <nav class="site-menu">
            <ul class="toolbar-links">
                <li><a href="/create-task">Create task</a></li>
                <li><a href="/update-task">Update task</a></li>
                <li><a href="/show-tasks">Show tasks</a></li>
                <li class="search-li-element"><a class="search-tag-link" href=""><img class="search-button"
                                                                                      src="/img/search-white.png"></a>
                </li>
                <li>
                    <form method="get" th:action="@{/show-tasks}">
                        <input type="text" class="search-string" name="search" placeholder="Search...">
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div>
    <h6>Task page</h6>
    <h6><a th:href="@{/show-tasks}">Back to tasks</a></h6>
</div>
<div th:if="${task}" class="container">
    <div class="container">
        <section class="promo row">
            <div class="col-6 dt">
                <div class="block"  style="overflow:auto;">
                    <h2 th:text="${task.name}"></h2>
                    <hr>
                    <p th:utext="${task.description}">${task.description}</p>
                </div>
            </div>
            <div class="col-6 dc" >
                <div class="block">
                    <h2>Comments </h2>
                    <hr>
                    <div style="height: 310px; overflow:auto;">
                    <table>
                        <ul th:each="comment : ${comments}">
                            <li th:utext="${comment.text}">comment</li>
                            <li th:text="${comment.created}">created</li>
                        </ul>
                    </table>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <button type="button" class="btn btn-outline-primary btn-sm"><a
            th:href="@{/task/edit/{taskId}(taskId=${task.id})}">Edit</a></button>
    <button type="button" class="btn btn-outline-primary btn-sm">
        <a th:href="@{/delete-task/{taskId}(taskId=${task.id})}"
           onclick="return confirm('Are you sure you want to delete this task')">Delete</a></button>
</div>
</div>
</body>
</html>