<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/task.css">
</head>
<body>
<div class="toolbar-container">
    <div class="toolbar">
        <div class="logo">
            <a href="/index">
                <img src="/img/site-icon.ico">
            </a>
        </div>
        <nav class="site-menu">
            <ul class="toolbar-links">
                <li><a href="/create-task">Create task</a></li>
                <li><a href="/show-tasks/page/1">Show tasks</a></li>
                <li class="search-li-element"><a class="search-tag-link" href=""><img class="search-button"
                                                                                      src="/img/search-white.png"></a>
                </li>
                <li>
                    <form method="get" th:action="@{/show-tasks}">
                        <input type="text" class="search-string" name="search" placeholder="Search...">
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div>
    <h6>Task page</h6>
    <h6><a th:href="@{/show-tasks/page/1}">Back to tasks</a></h6>
</div>
<div th:if="${task}" class="container">
    <div class="container">
        <section class="promo row">
            <div class="col-6 dt">
                <div class="block" style="overflow:auto;">
                    <div>
                    <h2 th:text="${task.name}"></h2>
                    </div>
                    <hr>
                    <h6><u>Description</u></h6>
                    <p th:utext="${task.description}"></p>
                </div>
            </div>
            <div class="col-6 dc">
                <div class="block">
                    <div>
                        <h2 style="display: inline">Comments </h2>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#addCommentModal">Add comment
                        </button>
                    </div>
                    <div class="modal fade" id="addCommentModal" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form th:action="@{/task/{taskId}/added-comment(taskId=${task.id})}"
                              th:object="${task}" method="Post">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="color: black">your comment</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <textarea type="text" name="text" class="form-control"></textarea>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        </button>
                                        <button type="submit" class="btn btn-primary">add comment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div style="height: 310px; overflow:auto;" class="promo row">
                        <ul>
                            <li style="margin-bottom: 0px" th:each="comment : ${comments}" class="promo row">
                                <div class="col-9" th:text="${comment.text}"></div>
                                <div style="padding-left: 1px; font-size: 12px" align="right" class="col-3"
                                     th:text="${comment.created}"></div>
                                <div>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#editCommentModal" th:attrappend=" data-target=${comment.id}">
                                        edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <a style="color: #cccccc;"
                                           th:href="@{/task/{taskId}/comment-del/{commentId}(taskId=${task.id}, commentId=${comment.id})}"
                                           onclick="return confirm('Are you sure you want to delete this comment')">delete</a>
                                    </button>
                                </div>
                                <div class="modal fade" id="editCommentModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                     th:attrappend="id=${comment.id}">>
                                    <form th:action="@{/task/{taskId}/edit-comment/{commentId}(taskId=${task.id}, commentId=${comment.id})}"
                                          th:object="${comment}" method="Post">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" style="color: black">edit comment</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                        <textarea class="form-control" name="text" id="editComment"
                                                                  th:text="*{text}"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">save comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <hr style="margin-top: 5px">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <button type="button" class="btn btn-primary">
        <a style="color: #cccccc" th:href="@{/task/edit/{taskId}(taskId=${task.id})}">Edit</a></button>
    <button type="button" class="btn btn-danger">
        <a style="color: #cccccc;" th:href="@{/delete-task/{taskId}(taskId=${task.id})}"
           onclick="return confirm('Are you sure you want to delete this task')">Delete</a></button>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>