<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/task.css">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Time management</a></li>
                <li><a href="/create-task" class="nav-link px-2 text-white">Create task</a></li>
                <li><a href="/show-tasks/page/1" class="nav-link px-2 text-white">Task list</a></li>
                <li>
                    <form method="post" action="/add-task">
                        <div>
                            <input required type="text" name="name" class="form-control form-control-dark"
                                   placeholder="Quick create task..." style="margin-left: 15px">
                        </div>
                    </form>
                </li>
            </ul>
            <form method="get" th:action="@{/show-tasks/page/1}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="text" name="searchBy" class="form-control form-control-dark" placeholder="Search..."
                       aria-label="Search">
            </form>
        </div>
    </div>
</header>

<div class="container">
    <div class="col-md-8 order-md-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/show-tasks/page/1}">Back to task list</a></li>
                <li class="breadcrumb-item active">Update task - <span th:text="${task.name}"></span></li>
            </ol>
        </nav>
        <form th:action="@{/task/update/{taskId}(taskId=${task.id})}"
              th:object="${task}" method="Post">
            <div class="col-md-5 mb-3">
                <label>Task name</label>
                <input type="text" name="name" class="form-control" th:field="*{name}">
            </div>
            <div class="col-md-5 mb-3">
                <label>Description</label>
                <textarea name="description" class="form-control" th:field="*{description}"
                          style="height:150px"></textarea>
            </div>
            <div class="col-md-5 mb-3">
                <label>Status</label>
                <select class="form-control" th:field="*{status}">
                    <option value="TODO">To do</option>
                    <option value="IN_PROGRESS">In progress</option>
                    <option value="COMPLETE">Complete</option>
                    <option value="PAUSE">Pause</option>
                </select>
            </div>
            <div class="col-md-5 mb-3">
                <label>Priority</label>
                <select class="form-control" th:field="*{priority}">
                    <option value="NORMAL">Normal</option>
                    <option value="HIGH">High</option>
                    <option value="LOW">Low</option>
                    <option value="PAUSE">Pause</option>
                </select>
            </div>

            <div class="col-md-5 mb-3">
                <label>Due date</label>
                <input class="form-control" type="datetime-local" name="dueDate" th:field="*{dueDate}"/>
            </div>

            <div class="col-md-5 mb-3">
                <label>Progress</label>
                <select class="form-control" name="progress" th:field="*{progress}">
                    <option value="0">0%</option>
                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="40">40%</option>
                    <option value="50">50%</option>
                    <option value="60">60%</option>
                    <option value="70">70%</option>
                    <option value="80">80%</option>
                    <option value="90">90%</option>
                    <option value="100">100%</option>
                </select>
            </div>
            <div class="col-md-5 mb-3">
                <label>Project</label>
                <select class="form-select" name="project" th:field="*{projects}">
                    <option value="">Choose project</option>
                    <option th:value="${project.id}" th:each="project : ${projects}">
                        <label th:value="${project.id}" th:text="${project.name}">Project name</label>
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>